<div class="card p-2 m-2" id="micropost-<%= micropost.id %>" style="width: 20rem;">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user, class: 'card-img-top' %>
  <div class="card-subtitle mb-2 text-muted"><%= link_to micropost.user.name, micropost.user %></div>
  <div class="card-text"><%= micropost.content %></div>
  <div class="text-muted">
    <%= time_ago_in_words(micropost.created_at) %> ago.
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" } %>
  </div>
</div>